.card-container {
  margin-left: 20px;
  width: 400px;
  border: 2px solid #3498db;
  border-radius: 0px;
  margin: 10px;
  padding: 20px;
  cursor: pointer;
  background-color: #f9f9f9;
  transition: background-color 0.3s ease;
}

.card-id {
  float: right;
  margin-top: -2px;
  background-color: #3498db;
  border-radius: 3px;
  color: white;
  font-weight: 7;
  padding: 5px 8px;
  font-family: Arial, sans-serif;
}

.card-titulo {
  display: inline;
  font-size: 1.5em;
  color: #333;
  margin-top: 10px;
}

.card-autor {
  font-weight: bold;
  color: #27ae60;
  margin-top: 15px;
}

.card-container:hover {
  background-color: #ecf0f1;
  border-color: #2980b9;
}